#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

uorb start

if [ -f eeprom/parameters ]
then
	param load
fi
param set CBRK_SUPPLY_CHK 894281
param set SYS_AUTOSTART 4001
param set MAV_BROADCAST 1
param set MAV_TYPE 2
param set IMU_GYRO_RATEMAX 400

dataman start

mpu9250 -s -R 2 start
ms5611 -I start
rc_input start -d /dev/ttyAMA0
pca9685_pwm_out start

battery_status start

gps start -d /dev/ttySC0 -i uart -p ubx
rc_update start
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
mc_pos_control start
mc_att_control start
mc_rate_control start

mavlink start -x -u 14556 -r 1000000

logger start -t -b 200

mavlink boot_complete
